@charset "utf-8";
/*----------------------------------------------------------------------------*/
/*
/*AutoPagerize - Page Break
/*
/*----------------------------------------------------------------------------*/

/* AutoPagerize <hr> */
.autopagerize_page_separator { display:none !important; }
/* AutoPagerize <p> */
p.autopagerize_page_info {
    color:#333 !important;
    margin:5px 10px 5px 10px !important; padding:3px 0px 3px 0px !important;
    background:-moz-radial-gradient(center center 0deg, ellipse closest-side, #bbb, rgba(187, 187, 187, 0) ) !important;
    font-size:x-small !important; font-weight:bold !important;
    text-align:center !important; text-shadow:0px 0px 1px #FFF !important;
    border:0px solid transparent !important; line-height:1.0em !important;
    clear:both !important;
}
/* Insert "(AutoPagerized)" into the AutoPagerize <p> after the original string */
p.autopagerize_page_info::after {
    content:"(AutoPagerized)" !important;
    color:gray !important;
    font-size:xx-small !important;
}
/* Padding adjustment after "page:#" string */
a.autopagerize_link { margin:0px 0px 0px -5px !important; padding:0px 5px 0px 5px !important; }
/* page:# color */
a.autopagerize_link:link { color:blue !important; background-color:transparent !important; }
a.autopagerize_link:visited { color:indigo !important; background-color:transparent !important; }
a.autopagerize_link:hover, a.autopagerize_link:active { background-color:transparent !important; }
/* Exception */
@-moz-document url-prefix('http://sourceforge.jp/magazine/') {
    p.autopagerize_page_info{ clear:none !important; }
}
