@charset "utf-8";
/*----------------------------------------------------------------------------*/
/*
/* Cleanest Addon Manager
/*
/*----------------------------------------------------------------------------*/
@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons) {

#header { margin:9px -17px 1px 0 !important; }

#header-utils-btn { margin:0 3px 0 -1px !important; }

#categories
{ margin:0 0 0 -16px !important; padding:32px 0px 0 0px !important; width:51px !important; }

#view-port-container
{ margin:0 -18px -18px 0 !important; padding:0 !important; width:auto !important; }

.category > .category-name, .addon > .warning, .global-warning-container,
#userstyles-note, #new-userstyle, #userstyle-top-container, #userstyle-footer,
#list-view > #addon-list :-moz-any(.relnotes-container,.description-container)
{ display:none !important; }

.addon > :-moz-any(.warning, .error, .pending) > image
{ margin:0 -6px 0 0.2em !important; list-style-image:none !important; }

.addon .icon-container, .addon .icon
{ padding:0 !important; height:16px !important; width:16px !important; }

.addon :-moz-any(.name-container, .name) { font-size:inherit !important; }

.addon .content-inner-container { -moz-box-orient:horizontal !important; }

.addon-control { -moz-transition:none !important; }

#list-view > #addon-list .addon.addon-view {padding: 0px 5px 0px 0px !important; }

#list-view .addon.addon-view * {
    -moz-box-orient:horizontal !important; -moz-box-align:center !important;
    vertical-align:middle !important; margin:0 0 0 1px !important;
    white-space:nowrap !important;
}
}
