@charset "utf-8";
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*----------------------------------------------------------------------------*/
/*
/* Change minimize mazimize close
/*
/*----------------------------------------------------------------------------*/
@-moz-document url(chrome://browser/content/browser.xul){

    /* -------------------- < margin > -------------------- */
    #main-window[sizemode="normal"] #titlebar-buttonbox-container
    {
        margin:-7px 0px 8px 2px !important;
    }

    #main-window[sizemode="maximized"] #titlebar-buttonbox-container
    {
        margin:1px 0px 8px 2px !important;
    }

    /* -------------------- < button > -------------------- */
    /* 基本設定 */
    :-moz-any(#titlebar-min,#titlebar-max,#titlebar-close)
    {
        margin:0 !important; padding:0 !important;
        max-height:15px !important; min-height:15px !important;
        max-width:20px !important; min-width:20px !important;
        background-position:center 0px !important; background-repeat:no-repeat !important;
        background-clip:border-box !important; background-origin:border-box !important;
        border:1px solid hsla(211,34%,23%,.50) !important;
        border-top:none !important; border-right:none !important;
    }

    /* 画像の差替え */
    #titlebar-min /* 最小化 */
    {
        -moz-appearance:none !important; border-radius:0 0 0 3.5px !important;
        background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAuSURBVChTY2AYBTQKARuguWlEYpBahrT/RAKooWRp+Ae0gzCG2UCyH2gUllBjAaE4gsv4y81VAAAAAElFTkSuQmCC"),
        -moz-linear-gradient(hsla(210,30%,85%,.65), hsla(209,13%,54%,.65)) !important;
    }

    #titlebar-max /* 最大化 */
    {
        -moz-appearance:none !important; border-radius:0 !important;
        background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABvSURBVChTvZJLDoAgDAV7MM/T05v4I4iAPG0iLKokuFCSWQ2vtADRH6s7D+FGZC9xSkALV1HiGHe0UAKbDxBqbSlPvDoPIVdQF3fzbKyDUAtoz5OxEGotKU88zAZCiPGR7MvQ/bighRx4/XDf/qYDVNPwPXOIj5oAAAAASUVORK5CYII="),
        -moz-linear-gradient(hsla(210,30%,85%,.65), hsla(209,13%,54%,.65)) !important;
    }

    #titlebar-close /* 閉じる */
    {
        -moz-appearance:none !important; border-radius:0 5px 0 0 !important;
        background-color:#b23636 !important;
        background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAErSURBVChTY2CgN1ACWugDxGlAHA3EhlAHgGgQHyQeAsRaMIcxsrOzZzx4cO/6/////n/+/Om9iYlJCVBSTU9PrxjEB4m/evXyiaioaDZQnAWmUQkI8t++ffMCpODp0yf3QXwQDTPIysqqDNkmmEYdLy+vmu/fv30BKYTRP358/xYREdGI5GSMoDMtKyvr+/Pn92+Qxr9///xtbW2eClRlhi+QzUGKQIpBmkB42rQp84AarHBpMgA54+fPHz9Ait+/f/cSRINsLSoq6gFqMkHXqAoKqU+fPr4FKbxx4/oFPj6+rDt3bl0B8b99+/oJ5F+gJj2YRiaQgidPHt+FhRw0aOVBIQgKapjNID5QExtMoyqQ4Q+NxABQHEElQJEJilRQ5EYg24QvYKgnBwChybtZ/BL6JwAAAABJRU5ErkJggg=="),
        -moz-linear-gradient(top, hsla(0,100%,80%,.65), hsla(0,100%,80%,0)) !important;
    }

    /* onマウス */
    :-moz-any(#titlebar-min,#titlebar-max):hover
    {
        background-color:hsla(0,0%,100%,.65) !important;
    }

    #titlebar-close:hover
    {
        background-color:#e52e2e! important;
    }

    /* クリック */
    :-moz-any(#titlebar-min,#titlebar-max):active
    {
        background-color:hsla(205,11%,45%,.65) !important;
        box-shadow:0 1px 1px hsla(0,0%,0%,.5) inset !important;
    }

    #titlebar-close:active
    {
        background-color: #a51e1e !important;
        box-shadow:0 1px 1px hsla(0,0%,0%,.5) inset !important;
    }

    /*----------------------------------------------------------------------------*/
}
