@charset "utf-8";
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url(chrome://browser/content/browser.xul){
/*----------------------------------------------------------------------------*/
/*
/* Dropmarkers & Status-Panel & etc...
/*
/*----------------------------------------------------------------------------*/

/*Dropmarkers*/
toolbarbutton:not([class*="tabs-alltabs-button"]) dropmarker { display:none !important; }
toolbarbutton:not([type="menu"]):hover dropmarker { display:-moz-box !important; }
toolbarbutton[type="menu"]:not([class*="bookmark-item"]) image { margin:0px !important; }
#content{ margin:0 !important; padding: 0 !important; }

/*ステータスパネル設定*/
/*
#panel-3-35 statuspanel .statuspanel-label {

    background: -moz-linear-gradient(#444, #000) !important;
    color: #ffffff !important; border: #000000 !important;
    -moz-appearance: none !important;

    display:none !important;
}
*/

/*bookmark*/
#subscribeToPageMenuitem,#subscribeToPageMenupopup,
#bookmarksToolbarFolderMenu,#bookmarksToolbarSeparator,
#menu_unsortedBookmarks,.hide-if-empty-places-result
{display: none !important;}

/*----------------------------------------------------------------------------*/
}
